* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

.main__container-cabecera h1{
    padding-top: 25px;
    color: crimson;
}

.main__container-cabecera p{
    padding-top: 10px;
}

.main__container {

    width: 80vw;
    height: 400px;
    max-width: 500px;
    min-width: 320px;
    border: 2px solid;
    border-color: blue;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}

.main__container h1 {
    font-size: 2.6rem;
    margin: 0px 10px;
}

.main__container p {
    font-size: 2.4rem;
    margin: 0px 10px;
}